.characters {
  padding-top: 40px;
  padding-bottom: 40px;
}

.characters__card {
  max-width: 334px;
  background-color: #ffffff;
  border: 1px solid #dee2e6;
  border-radius: 4px;
}

.card__text {
  padding: 24px;
}

.card__title {
  font-family: "Inter", sans-serif;
  font-size: 20px;
  font-weight: 800;
  line-height: 28px;
  letter-spacing: 0em;
  text-align: left;
  color: #152536;
}

.card__description {
  font-family: "Inter", sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 28px;
  letter-spacing: 0em;
  text-align: left;
  color: #152536;
}

@media (max-width: 768px) {
  .characters__card {
    margin: 0 auto;
  }
}
